* {
    --body-font: "Quicksand", sans-serif;
    --title-font: "Quicksand", sans-serif;
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

body {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 500;
    color: #403f3f;
    line-height: 25px;
    padding: 0;
    word-spacing: 0;
}

header {
    width: 100%;
    position: absolute;
    left: 0;
    background: #403f3f;
    margin: 0;
    z-index: 1001;
}

header .container {
    min-width: 100%;
}

header.header-light {
    background: #ffffff;
}

header.transparent {
    background: none;
}

header div#logo {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.my-flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-flex {
    display: flex;
    justify-content: space-between;
}

.sm-pt10 {
    padding-top: 10px;
}

.xs-hide {
    display: none;
}

#wrapper {
    overflow: hidden;
}

#quick_search {
    margin-left: 30px;
    padding: 4px 11px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    background: rgba(255, 255, 255, .1);
    width: 120%;
    font-family: var(--title-font);
    outline: none;
}
