* {
    --body-font: "Quicksand", sans-serif;
    --title-font: "Quicksand", sans-serif;
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

body {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 500;
    color: #403f3f;
    line-height: 25px;
    padding: 0;
    word-spacing: 0;
}

header {
    width: 100%;
    position: absolute;
    left: 0;
    background: #403f3f;
    margin: 0;
    z-index: 1001;
}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
}